ESCUDO_UPLOAD_STORE_FILE=/absolute/path/to/escudo-upload.jks
ESCUDO_UPLOAD_STORE_PASSWORD=change-me
ESCUDO_UPLOAD_KEY_ALIAS=escudo
ESCUDO_UPLOAD_KEY_PASSWORD=change-me

ESCUDO_API_BASE_URL=https://api.escudovpn.com/
ESCUDO_PINNED_DOMAIN=api.escudovpn.com
ESCUDO_CERT_PINS=sha256/5mMIaVKyfIokRH2im3ooEGrE6cRg68VGnKPRLpAvcqU=,sha256/y7xVm0TVJNahMr2sZydE2jQH8SquXV9yLF9seROHHHU=
